.fab {
    font-size: 25px;
    margin: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background: #3D3333 !important;
}

@media screen and (min-width: 993px) {
    .mobile {
      display: none;
    }
}

@media screen and (max-width: 992px) {
    .desktop {
        display: none;
    }
}
.desktop > nav {
    background: #3D3333 !important;
}

.dir {
    justify-content: flex-end;
}

.nav-link {
    color: white !important;
}

.mobile > nav{
    background: #3D3333 !important;
}

