@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.fab {
    font-size: 25px;
    margin: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background: #3D3333 !important;
}

@media screen and (min-width: 993px) {
    .mobile {
      display: none;
    }
}

@media screen and (max-width: 992px) {
    .desktop {
        display: none;
    }
}
.desktop > nav {
    background: #3D3333 !important;
}

.dir {
    justify-content: flex-end;
}

.nav-link {
    color: white !important;
}

.mobile > nav{
    background: #3D3333 !important;
}

.card-body{
    margin: 3px !important;
}

.main-container {
    width: 98%;
    height: 100vh;
}

.main-container .pr-1 {
    height: 20%;
}

.main-container .pr-1 .container-fluid .row .slogan {
    font-size: 2rem;
}