@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: rgb(237, 234, 238) !important;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background: #3D3333;
}
  
@media screen and (min-width: 993px) {
    .mobile {
      display: none;
    }
}

@media screen and (max-width: 992px) {
    .desktop {
        display: none;
    }
}
.desktop > nav {
    background: #3D3333 !important;
}

.dir {
    justify-content: flex-end;
}

.nav-link {
    color: white !important;
}

.mobile > nav{
    background: #3D3333 !important;
}

.card-body{
    margin: 3px !important;
}

.main-container {
    width: 98%;
    height: 100vh;
}

.main-container .pr-1 {
    height: 20%;
}

.main-container .initial-container {
    background-image: linear-gradient(to bottom right, 
      #1A237E, 
      #303F9F, 
      #475ddb, 
      #6173d4);
}

.main-container .pr-1 .container-fluid .initial-container .row .slogan {
    font-size: 2rem;
}

.content {
    background: white;
}

.carousel-item img {
    width: 100%;
    height: 450px;
}

/* icones */
.fab {
    font-size: 25px;
    margin: 12px;
    font-weight: 400;
}

.row-card-dest {
    display: flex !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
}

.pd-l {
    padding-left: 2.5% !important;
}

.pd-r {
    padding-right: 4.5% !important;
}

.tx-xs {
    font-size: 11px !important;
}

.row-flex {
    display: flex;
    align-items: center;
}