@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.fiel {
  max-height: 30px !important;
}

input {
  font-size: 15px !important;
}


@media screen and (min-width: 375px){  
  .register {
    width: 350px !important;
    margin-top: 50px !important; 
  } 

  .register .text-in {
    font-size: 18px !important;
    margin-top: 0px !important;
  }

  .register .field {
    max-height: 25px;
  }

  .register .title {
    position: relative !important;
    margin-top: 20px !important;
  }
}

@media screen and (min-height: 740px){  
  .register .title {
    position: relative !important;
    margin-top: 20px !important;
  }

  .register .text-in {
    margin-top: 0px !important;
  }
}

*{
    overflow: hidden;
    color: whi;
    margin: 0;
    padding: 0;
    font-family: 'ROBOTO',sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.register {
    position: absolute;
    top: 0;

    border-radius: 20px;
    margin-top: 50px;
    font-size: 30px;

    display: flex;
    background: rgb(63, 54, 51);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 400px;
    height: 80vh;
}

.register input {
    width: 187px;
    height: 20px;
    padding: 4px;
    border: 0;
}

.register input:focus {
    outline: none;
}

button {
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    width: 230px;
    height: 37px;
    padding: 4px;
    background: rgb(107, 146, 253);
}

button:hover {
    background: rgb(85, 127, 243);
}


.register .title {
    margin-top: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    color: white;
}

.register .text-in {
    margin-top: 20px;
}

.register .field {
    border-radius: 8px;
    display: flex;
    border: white 2px solid;
    background: white;
}
.register .field .valid {
    width: 30px;
    height: 32px;
}

.bx-chevron-down {
  opacity: 0;
  margin-bottom: 7px !important 

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@import url(https://fonts.googleapis.com/css?family=Exo:100);
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}


body {
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  animation: bg-scrolling-reverse 0.92s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
body::before {
  content: "";
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}