@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1,h2 {
    font-size: 1.6em !important;
}

* {
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'ROBOTO',sans-serif;
    color: gray;
}

ins.adsbygoogle {
    overflow: hidden;
    max-width: 350px;
    max-height: 280px;
}

@media screen and (min-width: 360px) {
    .detalhes {
        margin-left: 0px !important;
        width: 100% !important;
        overflow: scroll !important;
    }

    .detalhes .column {
        position: relative !important;
    }

    .detalhes .first-card {
        grid-template-columns: 1fr !important;
    }

    .detalhes .first-card .simple-card {
        width: 100% !important;
        height: 15vh !important;
    }

    .detalhes .first-card .simple-card .center {
        justify-content: space-evenly !important;
    }

    .detalhes .stock-infos {
        grid-template-columns: 1fr !important;
    }

    .detalhes .stock-infos .cards {
        width: 100% !important;
        overflow: scroll;
    }

    .detalhes .stock-infos .cards .title {
        font-size: 12px !important; 
    }
}

@media screen and (min-width: 800px) {
    .sidebar {
        display: none;
    }

    .stock-infos {
        width: 97.6% !important;
    }
}

@media screen and (min-width: 1024px) {
    .sidebar {
        display: block;
    }

    .detalhes {
        width: calc(100% - 300px) !important;
        margin-left: 300px !important;
    }

    .detalhes .first-card {
        grid-template-columns: 1fr 1fr !important;
        margin-bottom: 0px !important;
    }

    .detalhes .stock-infos {
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}

@media screen and (max-width: 1350px){
    .gridContent .card .stocInfo .margin {
        margin-right: 70px !important;
        margin-top: 90px !important;
    }

    .gridContent .card{
        min-height: 350px !important;
    }

}

@media screen and (max-width: 280px){
    
    .mobileSidebar .msdLogo{
        margin-top: 3% !important;
    }

    .gridContent{
        grid-template-columns: 1fr !important;
    }
}

@media screen and (max-width: 1444px){
    .card{
        min-width: 300px !important;
    }
    .gridContent .card .stocInfo .highprice{
        margin-left: 20px !important;
    }    
    .gridContent .card .stocInfo .value{
        margin-left: 20px !important;
    }
}

@media screen and (max-width: 1600px){
    .card{
        min-width: 400px !important;
    }
    .gridContent .card .stocInfo .highprice{
        margin-left: 20px !important;
    }    
    .gridContent .card .stocInfo .value{
        margin-left: 20px !important;
    }
}

@media screen and (min-width: 1366px){
    .sidebar{
        width: 250px !important;
    }

    .sidebar .menu {
        margin-top: -4vh !important;
    }

    .sidebar ul li {
        margin: 70px 70px -5px 70px !important;
    }

    .sidebar ul li .links-name {
        white-space: nowrap !important;
        font-size: 16px !important;
    }

    .detalhes {
        width: calc(100% - 250px) !important;
    }

}

@media screen and (min-width: 1367px){
    .sidebar{
        width: 300px !important;
    }

    .sidebar .menu {
        margin-top: 4vh !important;
    }

    .sidebar ul li {
        margin: 70px !important;
    }

    .sidebar ul li .links-name {
        white-space: nowrap !important;
        font-size: 25px !important;
    }

    .detalhes {
        margin-left: 300px !important;
        width: calc(100% - 300px) !important;
    }
}
@media screen and (max-width: 1024px){
    .sidebar{
        width: 300px !important;
    }

    .card .stocInfo .highprice{
        margin-left: 10px !important;
    }

    .card .stocInfo .value{
        margin-left: 10px !important;
    }

    .card{
        margin: 10px !important;
        min-width: 330px !important;
        min-height: 320px !important;
    }

    .gridContent{
        margin-left: 300px !important;
        grid-template-columns: 1fr 1fr !important;
        width: calc(100% - 300px) !important;
    }
}


@media screen and (max-width: 800px){
    .sidebar {
        display: none;
    }

    .gridContent{
        margin-left: 0px;
        display: grid;
        width: 100% !important; 
        grid-template-columns: 1fr !important;
        margin-left: 0px !important;
        background: rgb(207, 204, 207) !important;
    }

    .card{
        margin: 0 !important;
        margin-top: 15px !important;
        min-width: 350px !important;
        margin-left: 6px !important;
    }
}

@media screen and (min-width: 1280px){
    .card{
        margin: 10px !important;
    }

    .gridContent{
        grid-template-columns: 1fr 1fr 1fr !important;
        overflow-x: hidden !important;
    }

    .sidebar{
        overflow-y: hidden !important;
    }
}

@media screen and (min-width:900px){
    .mobileSidebar{
        display: none;
    }
}

.sidebar .menu button {
    color: white;
    background: 0;
    border: 0;
    font-size: 24px;
    cursor: pointer;
}

.sidebar .menu {
    margin-top: 6vh;
}

body{
    background: rgb(237, 234, 238);
}

.mobileSidebar{
    background: rgba(61, 51, 51, 0.952);;
    width: 100%;
    height: 9vh;
    overflow-y: hidden;
}

.mobileSidebar .msdLogo .title{
    font-size: 35px;
    color: white;
}

.mobileSidebar .msdLogo #python{
    font-size: 35px;;
    color: white;
}

.mobileSidebar #menum{
    position: absolute;
    font-size: 40px;
    color: white;
    right: 0;
    margin-right: 5%;
    margin-top: -40px;
    cursor: pointer;
}

.mobileSidebar a{
    max-width: 70px;
}

.mobileSidebar #menum:hover{
    color: black;
}

.mobileSidebar .msdLogo{
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
}

.mobileSidebar a:hover{
    color: black;
}


*{
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'ROBOTO',sans-serif;
    color: gray;
}

.sidebar{
    position: absolute;
    background: rgba(61, 51, 51, 0.952);
    height: 100vh;
    width: 300px;
}

.sidebar .sidebarLogo{
    display: flex;
    max-width: 100%;
    max-height: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left:  100;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.sidebar .sidebarLogo .title{
    font-size: 25px;
}

.sidebar .sidebarLogo #python{
    font-size: 25px;
}

.sidebar ul li{
    margin: 70px;
    display: flex;
    color: #fff;
    position: relative;
    max-width: 100%;
    max-height: 100px; 
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
}

.sidebar .sidebarLogo #python{
    margin-top: 25px;
    color: white;
}

.sidebar .sidebarLogo .title{
    margin-top: 25px;
    color: white;
}

.sidebar ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar ul li a .links-name{
    color: white;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}

.sidebar ul li a .name{
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.sidebar ul li a .name:hover {
    color: black;
}

.sidebar ul li a .links-name:hover{
    color: black;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;

}

:is(.sidebar ul li .bx-menu::before):hover {
    color: black !important;
}


.sidebar ul li#addticker span{
    color: white;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}

.sidebar ul li#addticker span:hover{
    color: black;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}


.sidebar .addbutton{
    margin-top: 10px;
    border-radius: 12px;
    max-width: 75px;
    max-height: 25px;
    border: 0px;
}

.sidebar .addbutton:hover{
    border: black 2px;

}

.sidebar ul li#addticker{
    display: flex;
    flex-direction: column;
}

.sidebar ul li .bx-menu::before{
    color: white;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}

.sidebar ul li .bx-menu:hover::before{
    color: black;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}

:is(.sidebar ul li .bx-menu:hover::before, .sidebar ul li a .links-name) :hover{
    color: black !important;
}

.sidebar ul li .bx-search-alt::before{
    font-size: 25px;
    color: white;
}

.sidebar ul li input.search {
    border-radius: 12px;
    max-width: 240px;
    max-height: 30px;
    text-decoration: none;
}

.detalhes {
    height: 100vh;
    width: Calc(100% - 300px);
    margin-left: 300px;
    background: rgb(237, 234, 238);;

}

.detalhes .column {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.detalhes .first-card {
    width: 97.6%;
    margin: 12px;
    gap: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.detalhes .first-card .simple-card{
    border-radius: 12px;
    width: 380px;
    height: 120px;
    background: white
}

.detalhes .first-card .simple-card .circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: white;
    border: 4px gray solid;
}

.detalhes .first-card .simple-card .center {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.name-b {
    font-weight: bold;
    font-size: 22px;
    white-space: nowrap;
}

.name-t {
    font-size: 22px;
    white-space: nowrap;
}

.cent-column {
    display: flex;
    flex-direction:column; 
    align-items: center;
}

.stock-infos {
    margin: 12px;
    gap: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.stock-infos .cards {
    width: 510px;
    min-height: 300px;
    max-height: 600px;
    background: white;
    border-radius: 12px;

}

.stock-infos .cards .title {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2vh;
}

.teste {
    display: flex;
    flex-direction: column;
    height: Calc(100% - 54px);
    width: 100%;
}


.line {
    display: flex;
    align-items: center;
    margin-left: 4%;
    width: 90%;
    height: 1px;
    background: gray;
    margin: 8px 2vh;
}

.line:last-of-type {
    margin-bottom: 4vh;
}

.value {
    color: #3efa9c;
    font-weight: bold;
}

.valueM {
    color: #ffdc17;
    font-weight: bold;
}

.valueR {
    color: #35c6f7;
    font-weight: bold;
}

.cont {
    display: flex;
    margin-left: 2vh;
}

.left {
    display: flex;
    width: 56%;
    float: left;
    flex-direction: row;
    align-items: center;
}

.right {
    width: 37%;
    float: right;
    display: flex;
    justify-content: flex-end;;
    
}

.name-bc {
    font-size: 17px;
    font-weight: bold;
    white-space: pre-wrap;
}