<div class="mobile" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="    background: rgba(61, 51, 51, 0.952) !important;">
        <div class="container-fluid">
            <a class="navbar-brand d-flex justify-content-center" href="#">
                <img src="../static/logo.svg" width="50" height="50" alt="Logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <script>
                $('.navbar-toggler').on('click', function() {
                    if ($('.navbar-collapse').hasClass('show')) {
                        $('.navbar-collapse').collapse('hide');
                        $(this).attr('data-toggle', 'none');
                    } else {
                        $('.navbar-collapse').collapse('show');
                        $(this).attr('data-toggle', 'collapse');
                    }
                });
            </script>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column justify-content-center">

                    <li class="nav-item">
                        <a class="nav-link text-light" href="/ranking">Ranking</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light" href="/user">Conta</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light" href="/detalhes" onclick="detalhes()">Info</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light" href="/register">Criar Conta</a>
                    </li>

                    <li class="nav-item">
                        {% if g.logged == True%}
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="sair">Sair</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Logar</a>
                        </li>
                    {% endif %}
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

<script>
    document.getElementById("spinnerModal").style.display = "none";
            document.getElementById("modalBackdrop").style.display = "none";
            
            function openModal() {
                document.getElementById("spinnerModal").style.display = "block";
                document.getElementById("modalBackdrop").style.display = "block";
            }

            function closeModal() {
                document.getElementById("spinnerModal").style.display = "none";
                document.getElementById("modalBackdrop").style.display = "none";
                location.reload(true)
            }

            function detalhes(){
                var ticker = prompt("Digite o ticker: ")
                openModal()
                window.location.href = `/detalhes?ticker=${ticker} `
            }


            function Deslogar() {

                document.addEventListener('click', (e) => {
                    e.preventDefault()
                    
                    if (e.target.id === 'sair')  {
                        axios.post('/logout', { action: 'logout'})
                        .then( (succes) => {window.location.href = "/login";})
                        .catch( (err) => {window.location.href = "/login";})
                    }

                })
            }

            Deslogar()

</script>