<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="30"> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'ranking.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/Ranking/css/ranking.css">
    <title>CIP</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5601274938223308"
     crossorigin="anonymous"></script>
     <link rel="icon" type="image/x-icon" href="{{url_for('static', filename = 'favicon.png')}}">

  

</head>
<body>
    <div class="content" id="content">

        <div class="mobileSidebar">
            <a href="/ranking">
                <div class="msdLogo">
                    <div class="title">CIP</div>
                    <i class='bx bxl-python' id="python"></i>
                </div>
            </a>
                <i class='bx bx-menu' id="menum"></i>

        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebarLogo">
                <div class="title">CIP</div>
                <i class='bx bxl-python' id="python"></i>
            </div>
            
            <ul class="menu">

                <!-- <li>
                    <i class='bx bx-search-alt' id="research"></i>
                    <input type="search" name="search" class="search" id="search"
                    placeholder="    Procurar..." onkeyup="Search()">   
                    
                </li> -->
                <li>
                    <a href="/home">
                        <i class='bx bx-menu' ></i>
                        <span class="links-name" >Home</span>
                    </a>
                </li>
                <li>
                    <a href="/ranking">
                        <i class='bx bx-menu' ></i>
                        <span class="links-name">Ranking</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-menu' ></i>
                        <span class="links-name">Renda Fixa</span>
                    </a>
                </li>
                <li>
                    <a href="#" >
                        <i class='bx bx-menu' ></i>
                        <span class="links-name" onclick="detalhes()">Infos</span>
                    </a>
                </li>
                <li>
                    <a href="/user">
                        <i class='bx bx-menu'></i>
                        <span class="links-name">Usuario</span>
                    </a>
                </li>

                <li>
                    <i class='bx bx-menu' ></i>
                    <a href="#" > <strong class="name">{{g.user}}</strong></a>
                </li>

                <li>
                    <a href="#" >
                        <i class='bx bx-menu' ></i>
                        <span class="links-name" ><button id="sair">Sair</button></span>
                    </a>
                </li>
                

                <div class="modal fade" id="modalExcluirConta" tabindex="-1" role="dialog" aria-labelledby="modalExcluirContaTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalExcluirContaTitle">Excluir Conta</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">Tem certeza de que deseja excluir sua conta? Essa ação não poderá ser desfeita.</div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-danger" onclick="excluirConta()">Excluir</button>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="modal-backdrop" id="modalBackdrop">
                    <div class="modal" tabindex="-1" id="spinnerModal">
                        <div class="modal-dialog d-flex flex-column">
                            <div class="modal-content d-grid">
                                <div class="modal-body text-center column">
                                    <h1 class="text-secondary">Carregando aguarde</h1>
                                    <div class="spinner-border text-primary" role="status"></div>
                                    <button type="button" class="btn btn-secondary btn-danger close-b"tn onclick="closeModal()">Cancelar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <script>
            

            document.getElementById("spinnerModal").style.display = "none";
            document.getElementById("modalBackdrop").style.display = "none";
            
            function openModal() {
                document.getElementById("spinnerModal").style.display = "block";
                document.getElementById("modalBackdrop").style.display = "block";
            }

            function closeModal() {
                document.getElementById("spinnerModal").style.display = "none";
                document.getElementById("modalBackdrop").style.display = "none";
                location.reload(true)
            }

            function detalhes(){
                var ticker = prompt("Digite o ticker: ")
                openModal()
                window.location.href = `/detalhes?ticker=${ticker} `
            }


            function Deslogar() {
                const botaoSair = document.getElementById('sair');

                botaoSair.addEventListener('click', (e) => {
                    e.preventDefault();

                    axios.post('/logout', { action: 'logout'})
                    .then( (succes) => {window.location.href = "/login";})
                    .catch( (err) => {window.location.href = "/login";})

                })
            }

            Deslogar()
        </script>

        <style>

            .close-btn {
                font-size: 0.9em !important;
            }

            .btn-danger {
                background: rgb(237, 45 ,45) !important;

            }

            .text-secondary {
                font-size: 2em;
            }

            .modal-backdrop {
                background-color: rgba(0, 0, 0, 0.6);
            }

            .spinner-border {
                margin: 10px;
            }

            .modal-dialog {
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 5%;
            }

            .column {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        </style>
                
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</body>