<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Admin/css/admin.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename = 'favicon.png')}}">
    <title>CPI</title>
</head>
<body >
    {% if admin == 'True' %}
        {% include './includes/sidebar.html'%}

        <div class="ContentGrid">
            <div class="card">
                <div class="title">
                    <h2>Usuarios Registrados</h2>

                </div>


                <table class="userInfosTable">
                    <caption>User Info</caption>
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Senha</th>
                        <th>CPF</th>
                        <th>Permissões</th>
                    </tr>

                    {% for x in range(0, qtd) %}
                        <tr>
                            <td class="tableLine">{{data[x]['user']}}</td>
                            <td class="tableLine">{{data[x]['email']}}</td>
                            <td class="tableLine">{{data[x]['password']}}</td>
                            <td class="tableLine">{{data[x]['cpf']}}</td>
                            <td class="tableLine">{{permissoes}}</td>
                            <td> 
                                <select name="" id="" class="adminOption">
                                    <option value="Banir">Ação</option>
                                    <option value="Banir">Banir</option>
                                    <option value="Banir">Admin</option>
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                
                <!-- <div class="column">
                    <div class="table">
                        {% for x in range(0, qtd) %}

                            <div class="row">{{data[x]['user']}}</div>
                            <div class="row">{{data[x]['email']}}</div>
                            <div class="rowP">{{data[x]['password']}}</div>
                            <div class="row">{{data[x]['cpf']}}</div>
                        {% endfor%}
                    </div>

                </div> -->

            </div>

            <div class="card">

            </div>

            <div class="card">

            </div>

            <div class="card">

            </div>

        </div>
    {% else %}
        <div class="contentL">

            <div class="register">
                <div class="title" >
                    <a href="" style="display: flex; align-items: center; color: white; text-decoration: none;">
                        <h2>CPI</h2>
                        <i class='bx bxl-python'></i>
                    </a>
                    
                </div>

                <div class="column">
                        <h3 style="color: white;">ADMIN LOGIN</h3>

                        <label for="" class="text-in">Email</label>
                        <label for="" class="field">
                            <input type="email" class="Email"></input>
                            <div class="valid"><i class='bx bx-chevron-down'></i></div>
                        </label>
            
                        <label for="" class="text-in">Senha</label>
                        <label for="" class="field">
                            <input type="password" class="Senha"></input>
                            <div class="valid"><i class='bx bx-chevron-down'></i></div>
                        </label>
        
                        <button type="submit" class="registrar">Logar</button>
        
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        


    </div>
</body>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="{{url_for('static', filename = 'Admin/js/admin.js')}}"></script>
    <script>
        function acoes() {
            const select = document.querySelectorAll(".adminOption")
            for (const x of select) {
                x.addEventListener("change", (e) => {
                    tr = x.closest("tr")
                })
            }
        }
        acoes()
    </script>
    
</html>