<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="30"> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'ranking.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/ranking.css">
    <script src="{{url_for('static', filename = 'script.js')}}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="../static/script.js"></script>
    <title>CIP</title>

</head>
<body>

    <div class="sidebar">
        <div class="sidebarLogo">
            <div class="title">CIP</div>
            <i class='bx bxl-python' id="python"></i>
        </div>
        
        <ul class="menu">

            <li>
                <i class='bx bx-search-alt' id="research"></i>
                <input type="search" name="search" class="search" 
                placeholder="    Procurar...">
                
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-menu' ></i>
                    <span class="links-name">Home</span>
                </a>
            </li>
            <li>
                <a href="/ranking">
                    <i class='bx bx-menu' ></i>
                    <span class="links-name">Ranking</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-menu' ></i>
                    <span class="links-name">Renda Fixa</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-menu' ></i>
                    <span class="links-name">Infos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-menu' ></i>
                    <span class="links-name">Usuario</span>
                </a>
            </li>
            <li id="addticker" class="links-name">
                <div class="icoName">
                    <i class='bx bx-menu' ></i>
                    <span>Adicionar Ação</span>
                </div> 
                <input type="button" value="+" class="addbutton" onclick="getTicker()">
            </li>
            
        </ul>
    </div> 
    
    <div class="gridContent " id="gridContent">
        <div class="card">
            <p class="ranking">Ranking {{stock_ranking}}</p>
            <div class="stocInfo">
                <div class="stockName">{{stock_name}}</div>

                <!-- <img class="circle" src={{stock_img}} name="ticker" onclick="httpGet('stock')"></img> -->

                <div class="secondInfo">
                    <div class="stockDy">
                        <div class="stockdy_text">DY</div>
                        <div class="dy_value">{{stock_dy}}%</div>
                    </div>
                <div class="mdi">{{stock_mdi}}</div>
                </div>
                <div class="highprice">
                    <div class="highPrice_text">PreçoTeto</div>
                    <div class="highprice_value">{{stock_highprice}}</div>
                </div>
                <div class="value">
                    <div class="value_text">Cotação</div>
                    <div class="value_value"> {{stock_value}}</div>
                </div>
                <div class="margin">
                    <div class="margin_text">Margem de Segurança </div>
                    <div class="margin_value">{{stock_margin}}</div>
                </div>
                <div class="dpa">
                    <div class="dpa_text">DPA projetivo</div>
                    <div class="dpa_value">50</div>                </div>
            </div>
            <div class="complements">
                <div class="mdi_text">MDI</div>
                <div class="mdi_map">Jan Fev Mar Abr Mai Jun <br>Jul Ago Set Out Nov Dez</div>
            </div>
        </div>
</body>