<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="30"> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'ranking.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/Detalhes/css/details.css">
    <title>CIP</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5601274938223308"
     crossorigin="anonymous"></script>
     <link rel="icon" type="image/x-icon" href="{{url_for('static', filename = 'favicon.png')}}">

</head>
<body>
    <div class="content" id="content">

        <div class="mobileSidebar">
            <a href="/ranking">
                <div class="msdLogo">
                    <div class="title">CIP</div>
                    <i class='bx bxl-python' id="python"></i>
                </div>
            </a>
                <i class='bx bx-menu' id="menum"></i>

        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebarLogo">
                <div class="title">CIP</div>
                <i class='bx bxl-python' id="python"></i>
            </div>
            
            <ul class="menu">

                <!-- <li>
                    <i class='bx bx-search-alt' id="research"></i>
                    <input type="search" name="search" class="search" id="search"
                    placeholder="    Procurar..." onkeyup="Search()">   
                    
                </li> -->
                <li>
                    <a href="#">
                        <i class='bx bx-menu' ></i>
                        <span class="links-name" onclick="mudaCord()">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/ranking">
                        <i class='bx bx-menu' ></i>
                        <span class="links-name">Ranking</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-menu' ></i>
                        <span class="links-name">Renda Fixa</span>
                    </a>
                </li>
                <li>
                    <a href="#" >
                        <i class='bx bx-menu' ></i>
                        <span class="links-name" onclick="detalhes()">Infos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-menu' id="teste"></i>
                        <span class="links-name">Usuario</span>
                    </a>
                </li>

                <li>
                    <i class='bx bx-menu' ></i>
                    <a href="#" > <strong class="name">{{user}}</strong></a>
                </li>

                <li>
                    <a href="#" >
                        <i class='bx bx-menu' ></i>
                        <span class="links-name" ><button id="sair">Sair</button></span>
                    </a>
                </li>
                
                
                <div class="anuncio">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5601274938223308"
                        crossorigin="anonymous"></script>
                    <!-- Teste -->
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-5601274938223308"
                        data-ad-slot="4521666220"
                        data-ad-format="auto"
                        data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </ul>
        </div>

        <div class="detalhes">
            <div class="column">
                <div class="first-card">
    
                    <div class="simple-card">
                        <div class="center">
                            <img src="https://www.sindsegsp.org.br/site//content/images/noticias/637291106091039050.png" alt="" class="circle">
                            <div class="column-content cent-column">
                                <div class="name-b">Caixa seguridade</div>
                                <div class="name-t">CXSE3</div>
                            </div>
                        </div>
                    </div>
    
                    <div class="simple-card">
                        <div class="center">
                            <div class="column-content cent-column" >
                                <div class="name-t">Segmento Listagem Bovespa</div>
                                <div class="name-b">Novo Mercado</div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="simple-card">
                        <div class="center">
                            <div class="column-content cent-column" >
                                <div class="name-t">Subsetor Bovespa</div>
                                <div class="name-b">Previdência e seguros</div>
                            </div>
                        </div>
                    </div>

                    <div class="simple-card">
                        <div class="center">
                            <div class="column-content cent-column" >
                                <div class="name-t">Particip. no Ibov</div>
                                <div class="name-b">-</div>
                            </div>
                        </div>
                    </div>
    
                </div>

                <div class="stock-infos">
                    <div class="cards">
                        <div class="title"> <h2>Indicadores de Valores e Volumes</h2></div>
                        
                        <div class="teste">

                            <div class="row">
                                <div class="col name-b">Valores(RS$)</div>
                                <div class="col rowL">RS123123</div>
                            </div>
                            <div class="line"></div>

                            <div class="row">
                                <div class="col name-b">Valores(RS$)</div>
                                <div class="col rowL">RS123123</div>
                            </div>
                            <div class="line"></div>

                            <div class="row">
                                <div class="col name-b">Valores(RS$)</div>
                                <div class="col rowL">RS123123</div>
                            </div>
                            <div class="line"></div>

                            <div class="row">
                                <div class="col name-b">Valores(RS$)</div>
                                <div class="col rowL">RS123123</div>
                            </div>
                            

                        </div>

                    </div>
                    <div class="cards">
                        <div class="title"> <h3>Indicadores de Valores e Volumes</h3></div>

                    </div>
                    <div class="cards">
                        <div class="title"> <h3>Indicadores de Valores e Volumes</h3></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>