<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPI</title>
</head>
    <link rel="stylesheet" href="../static/Home/css/home.css">
    {% include './includes/bootstrap.html'%}
<body>

    <div class="desktop">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
    
                        <li class="nav-item">
                            <a class="nav-link" href="#">Página 1</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="#">Página 2</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="#">Página 3</a>
                        </li>
                    </ul>
                </div>
    
              <a class="navbar-brand flex-grow-1 text-center" href="/home">
                <img src="../static/logo.svg" width="60" height="60" alt="Logo">
              </a>
              
                <div class="navbar-collapse dir">
                    <ul class="navbar-nav">
    
                        <li class="nav-item">
                            <a class="nav-link" href="#">Página 4</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="#">Página 5</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="#">Página 6</a>
                        </li>
    
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="mobile" style="display: none;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand d-flex justify-content-center" href="#">
                    <img src="../static/logo.svg" width="50" height="50" alt="Logo">
                </a>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>z
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column justify-content-center">
    
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Página 1</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Página 2</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Página 3</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Página 4</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Página 5</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Página 6</a>
                        </li>
    
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <footer class="text-light">
        <div class="container py-3">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 d-flex justify-content-center">

                    <a href="https://www.instagram.com/alan_dias__/" target="_blank" class="text-light me-3">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/álan-gabriel/" target="_blank" class="text-light me-3">
                        <i class="fab fa-linkedin"></i>
                    </a>

                    <a href="https://github.com/Alangdp" target="_blank" class="text-light me-3">
                        <i class="fab fa-github"></i>
                    </a>

                </div>

                <div class="col-md-6" d-flex justify-content-center>
                    <a href="https://www.instagram.com/alan_dias__/" target="_blank" class="text-light me-3">By Álan</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>



