<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="30"> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'ranking.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/ranking.css">
    <script src="{{url_for('static', filename = 'script.js')}}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="../static/script.js"></script>
    <title>CIP</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5601274938223308"
     crossorigin="anonymous"></script>
</head>
<body>

    <div class="sidebar">
        <div class="sidebarLogo">
            <div class="title">CIP</div>
            <i class='bx bxl-python' id="python"></i>
        </div>
        
        <ul class="menu">

            <li>
                <i class='bx bx-search-alt' id="research"></i>
                <input type="search" name="search" class="search" 
                placeholder="    Procurar...">
                
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-menu' ></i>
                    <span class="links-name">Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-menu' ></i>
                    <span class="links-name">Ranking</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-menu' ></i>
                    <span class="links-name">Renda Fixa</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="getTickerL()">
                    <i class='bx bx-menu' ></i>
                    <span class="links-name" >Infos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-menu' ></i>
                    <span class="links-name">Usuario</span>
                </a>
            </li>
            <li id="addticker" class="links-name">
                <div class="icoName">
                    <i class='bx bx-menu' ></i>
                    <span>Adicionar Ação</span>
                </div> 
                <input type="button" value="+" class="addbutton" onclick="getTicker()">
            </li>
            
        </ul>
    </div>

    <div class="gridContent " id="gridContent">
        <div class="card">
            <p class="ranking">Ranking {{petr4_ranking}}</p>
            <div class="stocInfo">
                <div class="stockName">{{petr4_name}}</div>

                <img class="circle" src={{petr4_img}} name="ticker" onclick="httpGet('petr4')"></img>

                <div class="secondInfo">
                    <div class="stockDy">
                        <div class="stockdy_text">DY</div>
                        <div class="dy_value">{{petr4_dy}}%</div>
                    </div>
                <div class="mdi">{{petr4_mdi}}</div>
                </div>
                <div class="highprice">
                    <div class="highPrice_text">PreçoTeto</div>
                    <div class="highprice_value">{{petr4_highprice}}</div>
                </div>
                <div class="value">
                    <div class="value_text">Cotação</div>
                    <div class="value_value"> {{petr4_value}}</div>
                </div>
                <div class="margin">
                    <div class="margin_text">Margem de Segurança </div>
                    <div class="margin_value">{{petr4_margin}}</div>
                </div>
                <div class="dpa">
                    <div class="dpa_text">DPA projetivo</div>
                    <div class="dpa_value">50</div>                </div>
            </div>
            <div class="complements">
                <div class="mdi_text">MDI</div>
                <div class="mdi_map">Jan Fev Mar Abr Mai Jun <br>Jul Ago Set Out Nov Dez</div>
            </div>
        </div>

        <div class="card">
            <p class="ranking">Ranking {{bbas3_ranking}}</p>
            <div class="stocInfo">
                <div class="stockName">{{bbas3_name}}</div>

                <img class="circle" src={{bbas3_img}}></img>

                <div class="secondInfo">
                    <div class="stockDy">
                        <div class="stockdy_text">DY</div>
                        <div class="dy_value">{{bbas3_dy}}%</div>
                    </div>
                <div class="mdi">{{bbas3_mdi}}</div>
                </div>
                <div class="highprice">
                    <div class="highPrice_text">PreçoTeto</div>
                    <div class="highprice_value">{{bbas3_highprice}}</div>
                </div>
                <div class="value">
                    <div class="value_text">Cotação</div>
                    <div class="value_value"> {{bbas3_value}}</div>
                </div>
                <div class="margin">
                    <div class="margin_text">Margem de Segurança </div>
                    <div class="margin_value">{{bbas3_margin}}</div>
                </div>
                <div class="dpa">
                    <div class="dpa_text">DPA projetivo</div>
                    <div class="dpa_value">50</div>                </div>
            </div>
            <div class="complements">
                <div class="mdi_text">MDI</div>
                <div class="mdi_map">Jan Fev Mar Abr Mai Jun <br>Jul Ago Set Out Nov Dez</div>
            </div>
        </div>
        
        <div class="card">
            <p class="ranking">Ranking {{klbn3_ranking}}</p>
            <div class="stocInfo">
                <div class="stockName">{{klbn3_name}}</div>

                <img class="circle" src={{klbn3_img}}></img>

                <div class="secondInfo">
                    <div class="stockDy">
                        <div class="stockdy_text">DY</div>
                        <div class="dy_value">{{klbn3_dy}}%</div>
                    </div>
                <div class="mdi">{{klbn3_mdi}}</div>
                </div>
                <div class="highprice">
                    <div class="highPrice_text">PreçoTeto</div>
                    <div class="highprice_value">{{klbn3_highprice}}</div>
                </div>
                <div class="value">
                    <div class="value_text">Cotação</div>
                    <div class="value_value"> {{klbn3_value}}</div>
                </div>
                <div class="margin">
                    <div class="margin_text">Margem de Segurança </div>
                    <div class="margin_value">{{klbn3_margin}}</div>
                </div>
                <div class="dpa">
                    <div class="dpa_text">DPA projetivo</div>
                    <div class="dpa_value">50</div>                </div>
            </div>
            <div class="complements">
                <div class="mdi_text">MDI</div>
                <div class="mdi_map">Jan Fev Mar Abr Mai Jun <br>Jul Ago Set Out Nov Dez</div>
            </div>
        </div>

        <div class="card">
             <p class="ranking">Ranking {{taee11_ranking}}</p>
             <div class="stocInfo">
                 <div class="stockName">{{taee11_name}}</div>
            
                 <img class="circle" src={{taee11_img}}></img>
            
                 <div class="secondInfo">
                     <div class="stockDy">
                         <div class="stockdy_text">DY</div>
                         <div class="dy_value">{{taee11_dy}}%</div>
                     </div>
                 <div class="mdi">{{taee11_mdi}}</div>
                 </div>
                 <div class="highprice">
                     <div class="highPrice_text">PreçoTeto</div>
                     <div class="highprice_value">{{taee11_highprice}}</div>
                 </div>
                 <div class="value">
                     <div class="value_text">Cotação</div>
                     <div class="value_value"> {{taee11_value}}</div>
                 </div>
                 <div class="margin">
                     <div class="margin_text">Margem de Segurança </div>
                     <div class="margin_value">{{taee11_margin}}</div>
                 </div>
                 <div class="dpa">
                     <div class="dpa_text">DPA projetivo</div>
                     <div class="dpa_value">50</div>                </div>
             </div>
             <div class="complements">
                 <div class="mdi_text">MDI</div>
                 <div class="mdi_map">Jan Fev Mar Abr Mai Jun <br>Jul Ago Set Out Nov Dez</div>
             </div>
         </div>
        
         <div class="card">
            <p class="ranking">Ranking {{pssa3_ranking}}</p>
            <div class="stocInfo">
                <div class="stockName">{{pssa3_name}}</div>
           
                <img class="circle" src={{pssa3_img}}></img>
           
                <div class="secondInfo">
                    <div class="stockDy">
                        <div class="stockdy_text">DY</div>
                        <div class="dy_value">{{pssa3_dy}}%</div>
                    </div>
                <div class="mdi">{{pssa3_mdi}}</div>
                </div>
                <div class="highprice">
                    <div class="highPrice_text">PreçoTeto</div>
                    <div class="highprice_value">{{pssa3_highprice}}</div>
                </div>
                <div class="value">
                    <div class="value_text">Cotação</div>
                    <div class="value_value"> {{pssa3_value}}</div>
                </div>
                <div class="margin">
                    <div class="margin_text">Margem de Segurança </div>
                    <div class="margin_value">{{pssa3_margin}}</div>
                </div>
                <div class="dpa">
                    <div class="dpa_text">DPA projetivo</div>
                    <div class="dpa_value">50</div>                </div>
            </div>
            <div class="complements">
                <div class="mdi_text">MDI</div>
                <div class="mdi_map">Jan Fev Mar Abr Mai Jun <br>Jul Ago Set Out Nov Dez</div>
            </div>
        </div>

        <div class="card">
             <p class="ranking">Ranking{{rani3_ranking}}</p>
             <div class="stocInfo">
                 <div class="stockName">{{rani3_name}}</div>
            
                 <img class="circle" src={{rani3_img}}></img>
            
                 <div class="secondInfo">
                     <div class="stockDy">
                         <div class="stockdy_text">DY</div>
                         <div class="dy_value">{{rani3_dy}}%</div>
                     </div>
                 <div class="mdi">{{rani3_mdi}}</div>
                 </div>
                 <div class="highprice">
                     <div class="highPrice_text">PreçoTeto</div>
                     <div class="highprice_value">{{rani3_highprice}}</div>
                 </div>
                 <div class="value">
                     <div class="value_text">Cotação</div>
                     <div class="value_value"> {{rani3_value}}</div>
                 </div>
                 <div class="margin">
                     <div class="margin_text">Margem de Segurança </div>
                     <div class="margin_value">{{rani3_margin}}</div>
                 </div>
                 <div class="dpa">
                     <div class="dpa_text">DPA projetivo</div>
                     <div class="dpa_value">50</div>                </div>
             </div>
             <div class="complements">
                 <div class="mdi_text">MDI</div>
                 <div class="mdi_map">Jan Fev Mar Abr Mai Jun <br>Jul Ago Set Out Nov Dez</div>
             </div>
         </div>
        
         <div class="card">
            <p class="ranking">Ranking{{sanb3_ranking}}</p>
            <div class="stocInfo">
                <div class="stockName">{{sanb3_name}}</div>
           
                <img class="circle" src={{sanb3_img}}></img>
           
                <div class="secondInfo">
                    <div class="stockDy">
                        <div class="stockdy_text">DY</div>
                        <div class="dy_value">{{sanb3_dy}}%</div>
                    </div>
                <div class="mdi">{{sanb3_mdi}}</div>
                </div>
                <div class="highprice">
                    <div class="highPrice_text">PreçoTeto</div>
                    <div class="highprice_value">{{sanb3_highprice}}</div>
                </div>
                <div class="value">
                    <div class="value_text">Cotação</div>
                    <div class="value_value"> {{sanb3_value}}</div>
                </div>
                <div class="margin">
                    <div class="margin_text">Margem de Segurança </div>
                    <div class="margin_value">{{sanb3_margin}}</div>
                </div>
                <div class="dpa">
                    <div class="dpa_text">DPA projetivo</div>
                    <div class="dpa_value">50</div>                </div>
            </div>
            <div class="complements">
                <div class="mdi_text">MDI</div>
                <div class="mdi_map">Jan Fev Mar Abr Mai Jun <br>Jul Ago Set Out Nov Dez</div>
            </div>
        </div>

        <div class="card">
            <p class="ranking">Ranking{{itsa4_ranking}}</p>
            <div class="stocInfo">
                <div class="stockName">{{itsa4_name}}</div>
           
                <img class="circle" src={{itsa4_img}}></img>
           
                <div class="secondInfo">
                    <div class="stockDy">
                        <div class="stockdy_text">DY</div>
                        <div class="dy_value">{{itsa4_dy}}%</div>
                    </div>
                <div class="mdi">{{itsa4_mdi}}</div>
                </div>
                <div class="highprice">
                    <div class="highPrice_text">PreçoTeto</div>
                    <div class="highprice_value">{{itsa4_highprice}}</div>
                </div>
                <div class="value">
                    <div class="value_text">Cotação</div>
                    <div class="value_value"> {{itsa4_value}}</div>
                </div>
                <div class="margin">
                    <div class="margin_text">Margem de Segurança </div>
                    <div class="margin_value">{{itsa4_margin}}</div>
                </div>
                <div class="dpa">
                    <div class="dpa_text">DPA projetivo</div>
                    <div class="dpa_value">50</div>                </div>
            </div>
            <div class="complements">
                <div class="mdi_text">MDI</div>
                <div class="mdi_map">Jan Fev Mar Abr Mai Jun <br>Jul Ago Set Out Nov Dez</div>
            </div>
        </div>

        <div class="card">
            <p class="ranking">Ranking{{cple6_ranking}}</p>
            <div class="stocInfo">
                <div class="stockName">{{cple6_name}}</div>
           
                <img class="circle" src={{cple6_img}}></img>
           
                <div class="secondInfo">
                    <div class="stockDy">
                        <div class="stockdy_text">DY</div>
                        <div class="dy_value">{{cple6_dy}}%</div>
                    </div>
                <div class="mdi">{{cple6_mdi}}</div>
                </div>
                <div class="highprice">
                    <div class="highPrice_text">PreçoTeto</div>
                    <div class="highprice_value">{{cple6_highprice}}</div>
                </div>
                <div class="value">
                    <div class="value_text">Cotação</div>
                    <div class="value_value"> {{cple6_value}}</div>
                </div>
                <div class="margin">
                    <div class="margin_text">Margem de Segurança </div>
                    <div class="margin_value">{{cple6_margin}}</div>
                </div>
                <div class="dpa">
                    <div class="dpa_text">DPA projetivo</div>
                    <div class="dpa_value">50</div>                </div>
            </div>
            <div class="complements">
                <div class="mdi_text">MDI</div>
                <div class="mdi_map">Jan Fev Mar Abr Mai Jun <br>Jul Ago Set Out Nov Dez</div>
            </div>
        </div>
        



        
        

</body>
</html>