<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="30"> -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/Ranking/css/ranking.css">
    <title>CIP</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename = 'favicon.png')}}">

</head>
<body>
    {% include './includes/sidebar.html'%}
    
        <div class="gridContent " id="gridContent">

            
            {% block content %}
                {% for i in range(1,qt) %}
                    
                    {% set numero = i %}
                    {% set name = stock[i][1]%}
                    {% set ticker = stock[i][0]%}
                    {% set dy = stock[i][3]%}
                    {% set mdi = 'wip' %}
                    {% set hidhprice = stock[i][8]%}
                    {% set value = stock [i][2]%}
                    {% set margin = stock [i][7]%}
                    {% set image = stock[i][9]%}
                    {% set dpa = stock[i][10]%}
                    {% if '-' in margin %}
                        {% set margin = margin.replace('-','')%}
                    {% endif%}
                    <div class="card" >
                        <p class="ranking"><small>Ranking {{numero}} </small></p>
                        <div class="stocInfo">
                            <div class="stockticker">{{ticker}}</div>
                            <div class="stockName"><nobr>{{name}}</nobr></div>
                    
                            <img onclick="location.href = 'https://statusinvest.com.br/acoes/{{ticker}}';" class="circle" src="{{image}}" alt="logo" ></img>
                    
                            <div class="secondInfo">
                                <div class="stockDy">
                                    <div class="stockdy_text">DY</div>
                                    <div class="dy_value">{{dy}}%</div>
                                </div>
                            <div class="mdi">{{mdi}}</div>
                            </div>
                            <div class="highprice">
                                <div class="highPrice_text">PreçoTeto</div>
                                <div class="highprice_value">{{value}}</div>
                            </div>
                            <div class="value">
                                <div class="value_text">Cotação</div>
                                <div class="value_value"> {{hidhprice}}</div>
                            </div>
                            <div class="margin">
                                <div class="margin_text">Margem de Segurança </div>
                                <div class="margin_value">{{margin}}%</div>
                            </div>
                            <div class="dpa">
                                <div class="dpa_text">DPA projetivo</div>
                                <div class="dpa_value">{{dpa}}</div>                </div>
                        </div>
                        <div class="complements">
                            <div class="mdi_text">MDI</div>
                            <div class="mdi_map">Jan Fev Mar Abr Mai Jun <br>Jul Ago Set Out Nov Dez</div>
                        </div>
                    </div> 
                {% endfor %}
            {% endblock content %}

        </div>
    </div>

    <script src="{{url_for('static', filename = '/Ranking/js/ranking.js')}}"></script>

</body>
</html>
