<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Registrar/css/register.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename = 'favicon.png')}}">
    <title>CPI</title>
</head>
<body>

    <div class="content">

        <div class="register">
            <div class="title" >
                <a href="" style="display: flex; align-items: center; color: white; text-decoration: none;">
                    <h2>CPI</h2>
                    <i class='bx bxl-python'></i>
                </a>
            </div>

            <div class="column">
                <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token }}">
                <label for="" class="text-in">Usuario</label>
                <label for="" class="field">
                    <input type="text" class="Usuario"></input>
                    <div class="valid"><i class='bx bx-chevron-down'></i></div>
                </label>
    
                <label for="" class="text-in">Email</label>
                <label for="" class="field">
                    <input type="email" class="Email"></input>
                    <div class="valid"><i class='bx bx-chevron-down'></i></div>
                </label>
    
                <label for="" class="text-in">Senha</label>
                <label for="" class="field">
                    <input type="password" class="Senha"></input>
                    <div class="valid"><i class='bx bx-chevron-down'></i></div>
                </label>
    
                <label for="" class="text-in">Repetir Senha</label>
                <label for="" class="field">
                    <input type="password" class="Senha-Repetida"></input>
                    <div class="valid"><i class='bx bx-chevron-down'></i></div>
                </label>
    
                <label for="" class="text-in" >CPF</label>
                <label for="" class="field">
                    <input type="text" class="CPF"></input>
                    <div class="valid"><i class='bx bx-chevron-down'></i></div>
                </label>

                <button type="submit" class="registrar">Registrar</button>

                <a href="/login" style="font-size: 20px; display:flex;justify-content: center; margin-top: 8px; color:white; margin-bottom: 12px;">Já tem conta?</a>
            </div>




            


        </div>


    </div>
</body>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="{{url_for('static', filename = 'Registrar/js/register.js')}}"></script>
    <script src="{{url_for('static', filename = 'Registrar/js/validaCPF.js')}}"></script>
    
</html>