<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Registrar/css/register.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename = 'favicon.png')}}">
    <title>CPI</title>
</head>
<body>

    <div class="registerContent">
        <ul>
            <div class="sidebarLogo">
                <div class="title">CPI</div>
                <i class='bx bxl-python' id="python"></i>
            </div>

            <div class="auth">
                <form action="" class="formulario" method="post">
                    <li>
                        <div class="title"><h2>Usuario:</h2> </div>
                        <div class="warning"></div>
                        <input type="text" name="usuario" class="Usuario input" placeholder="Username">
                    </li>
                    
                    <li>
                        <div class="valid">
                            <div class="title"><h2>Email:</h2> </div>
                            <h3 class="warning email_warning"></h3>
                        </div>
                        <input type="email" name="email" class="Email input" id="email" placeholder="Email@gmail.com"> <br>
                    </li>
                    
                    <li>
                        <div class="valid">
                            <div class="title"><h2>Senha:</h2> </div>
                            <h3 class="warning password_warning"></h3>
                        </div>
                        <input type="password" name="senha" class="Senha input" placeholder="*************"><br>
                    </li>

                    <li>
                        <div class="valid">
                            <div class="title"><h2>Repetir Senha:</h2> </div>
                            <h3 class="warning passwordrepeat_warning"></h3>
                        </div>
                        <input type="password" name="senha" class="Senha-Repetida input" placeholder="*************"><br>
                    </li>

                    <li>
                        <div class="valid">
                            <div class="title" ><h2>CPF:</h2> </div>
                            <h3 class="warning cpf_warning"></h3>
                        </div>
                        <input type="text" name="cpf" class="CPF input" placeholder="000.000.000-00" maxlength="11" ><br>
                    </li>

                    <button type="submit" class="submit" >Registrar</button>
                </form>
            </div>
        </ul>
        
    </div>

</body>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="{{url_for('static', filename = 'Registrar/js/register.js')}}"></script>
    <script src="{{url_for('static', filename = 'Registrar/js/validaCPF.js')}}"></script>
</html>