<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="../static/carteiraDash/js/carteiraDash.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>

    <title>Document</title>
    {% include './includes/bootstrap.html'%}

</head>

<style>

    .mg-sidebar {
        margin-left: 300px;
    }

    .vh-100 {
        height: 100vh !important;
    }


    .container-stock {
        width: calc(100% - 300px);
        background: rgb(207, 204, 207) !important;
    }

    .p-0 {
        padding: 0 !important;
    }
</style>

<body>
    {% include './includes/mobile.html'%}
    {% include './includes/sidebar.html'%}

    <div class="container-fluid vh-100 p-0">

        <div class="container-stock vh-100 mg-sidebar">
            <div class="container  h-100">
                <div class="row h-100 ">
                    <div class="col-12 p-1 h-50 bg-dark row">
                        
                        <div class="col-6 bg-warning h-100 p-1">
                            <div class="col-12 bg-light row p-0 ml-0">
                                <div class="col-5">
                                    <div class="col-3">
                                        <h3 class="font-weight-bold">Rentabilidade</h3>
                                    </div>
                                </div>
                                <div class="col botoes">
                                    <button type="button" class="btn btn-primary m-1" id="Semana">Semana</button>
                                    <button type="button" class="btn btn-primary m-1" id="Mes">Mês</button>
                                    <button type="button" class="btn btn-primary m-1" id="Ano">Ano</button>
                                </div>
                                <div class="col-12 row p-0 ml-0 d-flex d-column align-items-center">
                                    <div class="rentabilidadeGrafico">
                                        <canvas id="rentabilidade" class="rounded"  width="550" height="400" ></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-6 bg-warning h-100 p-1">
                            <div class="col-12 bg-light row p-0 ml-0">
                                <div class="col-3">
                                    <h3 class="font-weight-bold">Porcentagem</h3>
                                </div>
                                <div class="col-12 row p-0 ml-0 d-flex d-column align-items-center">
                                    <div class="porcentagemGrafico">
                                        <canvas id="porcentagem" class="rounded"  width="550" height="400" ></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-1 h-50 bg-dark row">
                        <div class="col-6 bg-warning h-100 p-1"></div>
                        <div class="col-6 bg-warning h-100 p-1"></div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>

</body>
</html>

<script>
    var dados = JSON.parse('{{ userVariation | tojson | safe }}');
    var dadosPorcent = JSON.parse('{{ userPorcent | tojson | safe }}');
    console.log(dadosPorcent)
    var userInfo = dados['variacao']
    var ibov = dados['IBOV']
    var selic = dados['SELIC']
    const datas = {semana: [], mes: [], ano:[]}
  
    var dataAtual = moment().format("DD/MM/YYYY");
  
    function ehBissexto(ano) {
      return (ano % 4 === 0 && ano % 100 !== 0) || ano % 400 === 0;
    }
  
    for (var i = 0; i <= 7; i++) {
      datas.semana.push(moment().subtract(i, 'days').format('YYYY/MM/DD'));
    }
  
    for (var i = 0; i <= 30; i++) {
      datas.mes.push(moment().subtract(i, 'days').format('YYYY/MM/DD'));
    }
  
    var numDias = ehBissexto(moment().year()) ? 366 : 365; 
    for (var i = 0; i < numDias; i++) {
      datas.ano.push(moment().subtract(i, 'days').format('YYYY/MM/DD'));
    }
  
  
    function organiza(dados = [], datas = [], tipo = false){
      porMes = {}, consolidado = {}, consolidList = []
      dados, datas, ultimoValor = 0
      let soma = 0, dias = [], valores = []
  
      for (var i = 0; i < Object.keys(dados).length; i++ ){
          var chave = dados[i][0].replace(/(\d{4})-(\d{2})-(\d{2})/, '$3/$2/$1');
          var valor = dados[i][2];
          consolidado[chave] = valor
      }
  
      for (var i = 0; i < datas.length; i++) {
          if (Object.keys(consolidado).includes(datas[i])) {
            porMes[datas[i]] = consolidado[datas[i]]
            dias.push(datas[i])
            if(tipo === 'SELIC'){
              soma =  ultimoValor + consolidado[datas[i]];
              valores.push(parseFloat(soma).toFixed(2));
              ultimoValor = soma;
            } else {
              valores.push(consolidado[datas[i]])
            }
          } else {
            dias.push(datas[i])
            valores.push(null)
          }
      }
      retornar = {1: dias, 2: valores}
      return retornar
    }
  
    function renderizaGrafico(select = datasMes, data = [], dataSelic = [], dataIbov = []) {
      const ctxL = document.getElementById("rentabilidade").getContext('2d');
        
      const myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
          labels: select,
          spangaps: true,
          datasets: [
            {
              label: "Carteira",
              data: data,
              backgroundColor: ['transparent'],
              pointBackgroundColor: 'rgb(253,180,92',
              borderColor: ['rgb(253,180,92)'],
              borderWidth: 2,
              borderDash: [5, 5]
            },
            {
              label: "Ibovespa",
              data: dataIbov,
              backgroundColor: ['transparent'],
              pointBackgroundColor: 'rgb(255, 8, 0)',
              borderColor: ['rgb(255, 8, 0)'],
              borderWidth: 2
            },
            {
              label: "Selic",
              data: dataSelic,
              backgroundColor: ['transparent'],
              pointBackgroundColor: 'rgb(0, 153, 255)',
              borderColor: ['rgb(0, 153, 255)'],
              borderWidth: 2
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          tooltips: {
            mode: 'index',
            intersect: false,
            callbacks: {
              label: function(tooltipItem, data) {
                  var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                  return `${value}%| ${12}R$`
              }
            }
          },
          hover: {
            mode: 'index',
            intersect: false
          },
          scales: {
            xAxes: [{
              ticks: {
                display: true
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
                suggestedMax: 30, // Valor máximo da escala Y
                suggestedMin: 0, // Valor mínimo da escala Y
                callback: function(value, index, values) {
                  if (value === 0) { // Se o valor for zero, retorna uma string vazia
                    return '';
                  } else {
                    return value;
                  }
                }
              }
            }]
          }
        }
      });
    }
    
    Object.keys(datas).forEach( key => {
      console.log(datas[key].reverse())
    })
  
    function criaDivRentabilidade(graficoDiv){
      removeDivRentabilidade(graficoDiv)
      const canvasRentabilidade = document.createElement('canvas');
      canvasRentabilidade.setAttribute('id', 'rentabilidade'); 
      canvasRentabilidade.setAttribute('width', '550'); 
      canvasRentabilidade.setAttribute('height', '400'); 
      canvasRentabilidade.setAttribute('style', 'display: block; width: 550; height: 400px;');
      graficoDiv.appendChild(canvasRentabilidade);
    }
  
    function removeDivRentabilidade(){
      const rentabilidade = document.getElementById('rentabilidade'); 
      const jsMonitor = document.querySelector('.chartjs-size-monitor'); 
      jsMonitor.remove()
      rentabilidade.remove() 
    }
  
    function botoes(){  
  
      const graficoDiv = document.querySelector('.rentabilidadeGrafico')
      const botoes = document.querySelector('.botoes');
  
      botoes.addEventListener('click', (e) => {
  
        if (e.target.id === 'Semana') {
          var dadosUser = organiza(userInfo, datas.semana)
          var dadosSelic = organiza(selic, datas.semana, 'SELIC')
          var dadosIbov = organiza(ibov, datas.semana)
          criaDivRentabilidade(graficoDiv)
          renderizaGrafico(datas.semana, dadosUser[2], dadosSelic[2], dadosIbov[2])
        } else if (e.target.id === 'Mes'){
          var dadosUser = organiza(userInfo, datas.mes)
          var dadosSelic = organiza(selic, datas.mes, 'SELIC')
          var dadosIbov = organiza(ibov, datas.mes)
          criaDivRentabilidade(graficoDiv)
          renderizaGrafico(datas.mes, dadosUser[2], dadosSelic[2], dadosIbov[2])
        } else if (e.target.id === 'Ano'){
          var dadosUser = organiza(userInfo, datas.ano)
          var dadosSelic = organiza(selic, datas.ano, 'SELIC')
          var dadosIbov = organiza(ibov, datas.ano)
          criaDivRentabilidade(graficoDiv)
          renderizaGrafico(datas.ano, dadosUser[2], dadosSelic[2], dadosIbov[2])
        }
      })
    }

    function gerarCorAleatoria() {
        let cor = '#';
        const letras = '0123456789ABCDEF';

        for (let i = 0; i < 6; i++) {
            cor += letras[Math.floor(Math.random() * 16)];
        }

        return cor;
    }
    

    var dadosUser = organiza(userInfo, datas.mes)
    var dadosSelic = organiza(selic, datas.mes, 'SELIC')
    var dadosIbov = organiza(ibov, datas.mes)
    const valores = [];
    const cores = [];
  
    renderizaGrafico(datas.mes, dadosUser[2], dadosSelic[2], dadosIbov[2])
    botoes()

    const labelPie = Object.keys(dadosPorcent)
  .map(key => {
    if(key !== 'valorTotal') {
      valores.push(dadosPorcent[key]['porcentagem']);
      return key;
    } else {
      return null;
    }
  })
  .filter(label => label !== null && label !== undefined);

  for (let i = 0; i < Object.keys(dadosPorcent).length; i++) {
    cores.push(gerarCorAleatoria());
  }

  const config = {
    type: 'doughnut',
    data: {
      labels: labelPie,
      datasets: [{
        data: valores,
        backgroundColor: cores,
        borderWidth: 2
      }]
    },
    options: {
      callbacks: {
        label: function(tooltipItem, data) {
            var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            return `${value}%`
        }
      },
      cutoutPercentage: 50,
      responsive: true,
      maintainAspectRatio: false
    }
  };

  const meuGrafico = new Chart(document.getElementById("porcentagem"), config);
</script>