<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="../static/carteiraDash/js/carteiraDash.js"></script>

    {% include './includes/bootstrap.html'%}
    {% include './includes/sidebar.html'%}

</head>
<body>
    {% include './includes/alerts.html'%}
    
    
    <div class="teste" style="margin-left: 300px; max-width:400px; max-height:400px;">
        <canvas id="rentabilidade" class="rounded"  width="400" height="400" ></canvas>
    </div>
</body>
</html>



<script>
    var dados = JSON.parse('{{ userVariation | tojson | safe }}');
    console.log(dados['variacao'])
    var userInfo = dados['variacao']
    var ibov = dados['IBOV']
    var selic = dados['SELIC']

    var dataAtual = moment().format("DD/MM/YYYY");

    function ehBissexto(ano) {
        return (ano % 4 === 0 && ano % 100 !== 0) || ano % 400 === 0;
    }

    var datasSemana = [];
    for (var i = -7; i <= 0; i++) {
        datasSemana.push(moment().subtract(i, 'days').format('YYYY/MM/DD'));
    }

    var datasMes = []; 
    for (var i = 0; i <= 30; i++) {
        datasMes.push(moment().subtract(i, 'days').format('YYYY/MM/DD'));
    }

    var datasAno = [];
    var numDias = ehBissexto(moment().year()) ? 366 : 365; 
    for (var i = 0; i < numDias; i++) {
        datasAno.push(moment().subtract(i, 'days').format('YYYY/MM/DD'));
    }

    function organiza(dados = [], datas = [], tipo = false){
        porMes = {}, consolidado = {}, consolidList = []
        userInfo = dados, datasMes = datas, ultimoValor = 0
        let soma = 0
        dias = [], valores = []

        for (var i = 0; i < Object.keys(userInfo).length; i++ ){
            var chave = userInfo[i][0].replace(/(\d{4})-(\d{2})-(\d{2})/, '$3/$2/$1');
            var valor = userInfo[i][2];
            consolidado[chave] = valor
        }

        for (var i = 0; i < datasMes.length; i++) {
            if (Object.keys(consolidado).includes(datasMes[i])) {
              porMes[datasMes[i]] = consolidado[datasMes[i]]
              dias.push(datasMes[i])
              if(tipo === 'SELIC'){
                soma =  ultimoValor + consolidado[datasMes[i]];
                valores.push(soma);
                ultimoValor = soma;
              } else {
                valores.push(consolidado[datasMes[i]])
              }
            } else {
              dias.push(datasMes[i])
              valores.push(null)
            }
        }
        retornar = {1: dias, 2: valores}
        return retornar
    }

    function renderizaGrafico(select = datasMes, data = [], dataSelic = [], dataIbov = []) {
      const ctxL = document.getElementById("rentabilidade").getContext('2d');
      ctxL.heigth = 100;
        
      const myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
          labels: select,
          datasets: [
            {
              label: "Carteira",
              data: data,
              backgroundColor: ['transparent'],
              pointBackgroundColor: 'rgb(253,180,92',
              borderColor: ['rgb(253,180,92)'],
              borderWidth: 2,
              borderDash: [5, 5]
            },
            {
              label: "Ibovespa",
              data: dataIbov,
              backgroundColor: ['transparent'],
              pointBackgroundColor: 'rgb(255, 8, 0)',
              borderColor: ['rgb(255, 8, 0)'],
              borderWidth: 2
            },
            {
              label: "Selic",
              data: dataSelic,
              backgroundColor: ['transparent'],
              pointBackgroundColor: 'rgb(0, 153, 255)',
              borderColor: ['rgb(0, 153, 255)'],
              borderWidth: 2
            }
          ]
        },
        options: {
          maintainAspectRatio: false,
          tooltips: {
            mode: 'index',
            intersect: false,
            callbacks: {
              label: function(tooltipItem, data) {
                  var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                  return value + `%`
              }
            }
          },
          hover: {
            mode: 'index',
            intersect: false
          },
          scales: {
            xAxes: [{
              ticks: {
                display: true
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
                suggestedMax: 30, // Valor máximo da escala Y
                suggestedMin: 0, // Valor mínimo da escala Y
                callback: function(value, index, values) {
                  if (value === 0) { // Se o valor for zero, retorna uma string vazia
                    return '';
                  } else {
                    return value;
                  }
                }
              }
            }]
          }
        }
      });
    }
    
    dataMes = datasMes.reverse()
    dadosUser = organiza(userInfo, datasMes)
    dadosSelic = organiza(selic, datasMes, 'SELIC')
    dadosIbov = organiza(ibov, datasMes)

    renderizaGrafico(datasMes, dadosUser[2], dadosSelic[2], dadosIbov[2])
</script>